<!doctype html>
<html>
  <head>
    <title>Chroniques Oubliées</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Chroniques Oubliées">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://maxtori.github.io/co/assets/co_192.png">
    <meta property="og:url" content="https://maxtori.github.io/co">
    <link rel="icon" href="assets/co_192.png">
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="assets/bs.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.global.prod.js"></script>
    <script src="3ddice.js" async></script>
    <script src="ui.bc.js" defer></script>
    <style>
      @font-face {
        font-family: 'pirata_one';
        src: url('assets/pirata_one.ttf') format('truetype');
      }
    </style>
  </head>
  <body data-bs-theme="dark" style="font-family: pirata_one; background-image:url('assets/parchemin_bg.webp'); background-size:100%; --bs-bg-opacity:0.6; background-repeat:no-repeat">
    <div id="app-loading" style="height:100vh"></div>
    <div id="app" style="display:none;">

      <nav class="navbar navbar-expand bg-dark text-center pb-0" style="position:fixed;bottom:0px;right:0;left:0;z-index:1000">
        <ul class="navbar-nav flex-fill">
          <li class="nav-item border" style="width: 45%">
            <a class="nav-link" role="button" @click="init()">Personnages</a>
          </li>
          <li class="nav-item border" style="width: 45%">
            <a v-if="page.personnage!==undefined" class="nav-link" role="button" @click="edition()">Édition</a>
            <a v-else-if="page.creation!==undefined" class="nav-link" role="button" @click="phase_suivante()">{{ (page.creation.phase.enregistrement===undefined) ? 'Suivant' : 'Fin' }}</a>
            <a v-else-if="page.personnages!==undefined" class="nav-link" role="button" @click="dir({nouveau:0})">Nouveau</a>
            <a v-else-if="page.edition!==undefined" class="nav-link" role="button" @click="edite()">Sauvegarder</a>
          </li>
          <li class="nav-item border" style="width: 10%">
            <a class="nav-link" role="button" @click="charge_modal_des({de:'d20', bonus:0, nombre:1, choix:[], extra:0})">
              <i class="bi bi-dice-5-fill"></i>
            </a>
          </li>
        </ul>
      </nav>

      <div class="container-fluid mt-3 mb-5 px-0">

        <!-- chargement -->
        <div v-if="page.chargement!==undefined" class="text-center my-5 py-5" >
          <div class="spinner-border"></div>
        </div>

        <!-- personnages -->
        <personnages v-else-if="page.personnages!==undefined" :list="page.personnages" @init="init" @perso="personnage" :key="page.personnages.length">
        </personnages>

        <!-- nouveau -->
        <div v-else-if="page.nouveau!==undefined">
          <div class="text-center my-5 py-5 w-75 mx-auto">
            <div class="card my-5 py-4" @click="dir({importation:''})" role="button">
              Importation
            </div>
            <div class="card my-5 py-4" @click="commence_creation()" role="button">
              Création
            </div>
          </div>
        </div>

        <!-- backup -->
        <backup v-else-if="page.backup!==undefined" :list="page.backup" @init="init">
        </backup>

        <!-- personnage -->
        <personnage v-else-if="page.personnage!==undefined" :p="page.personnage.perso" :lbl="page.personnage.label" @charge_modal_des="charge_modal_des" @alert="alert" @perso="personnage">
        </personnage>

        <!-- creation -->
        <creation v-else-if="page.creation!==undefined" :p="page.creation.perso" :label="page.creation.label" :phase="page.creation.phase" ref="creation" @alert="alert">
        </creation>

        <!-- importation -->
        <div v-else-if="page.importation!==undefined">
          <div class="row mx-0 text-center mt-5">
            <div class="col p-0 text-bg-light">Nom de l'importation</div>
            <div class="col p-0">
              <input class="form-control py-0" v-model="page.importation"/>
            </div>
          </div>
          <div class="row mx-0 mt-3">
            <div class="col p-0">
              <input class="form-control" type="file" @change="importation" accept="application/json"/>
            </div>
          </div>
        </div>

        <!-- edition -->
        <edition v-else-if="page.edition!==undefined" :p="page.edition.perso" :lbl="page.edition.label" @alert="alert" ref="edition">
        </edition>

        <!-- erreur modal -->
        <div id="erreur-modal" class="modal" @[hide_modal]="vide_erreur()">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-body text-center">
                {{ modal_erreur }}
              </div>
            </div>
          </div>
        </div>

        <!-- de modal -->
        <div id="des-modal" class="modal" @[hide_modal]="vide_des()">
          <div class="modal-dialog modal-dialog-centered">
            <div v-if="des" class="modal-content">
              <div class="modal-header">
                <h2 class="modal-title mx-auto">
                  <div v-if="des.titre">
                    <span v-if="des.titre">
                      <span>{{ des.titre }}</span>
                      <span class="mx-4">|</span>
                    </span>
                    {{ des.nombre }}{{ des.de }}
                    <span v-if="des.choix.length==0 && des.bonus && des.bonus > 0"> + {{ des.bonus }}</span>
                    <span v-else-if="des.choix.length==0 && des.bonus"> - {{ Math.abs(des.bonus) }} </span>
                  </div>
                  <div v-else class="d-flex">
                    <input class="form-control py-0 w-50" v-model="des.nombre"/>
                    <select class="form-select py-0 w-50" v-model="des.de">
                      <option value="d4">d4</option>
                      <option value="d4°">d4°</option>
                      <option value="d6">d6</option>
                      <option value="d8">d8</option>
                      <option value="d10">d10</option>
                      <option value="d12">d12</option>
                      <option value="d20">d20</option>
                    </select>
                  </div>
                </h2>
              </div>
              <div class="modal-body">
                <div v-if="des.choix.length!=0" class="text-center">
                  <button v-for="c in des.choix" class="btn btn-outline-light mx-2" @click="choisit_bonus_des(c[1])">{{ c[0] }}</button>
                </div>
                <div v-else>
                  <div class="text-center d-flex mx-auto w-75">
                    <span class="text-bg-light px-2 flex-fill">Bonus</span>
                    <input class="form-control py-0" v-model="des.extra" type="number" style="max-width:100px"/>
                  </div>
                  <div id="des-container" class="m-2" style="height:180px">
                  </div>
                  <div style="height:50px">
                    <h2 v-if="des.resultat" class="text-center">
                      {{ des.resultat }} {{ (des.bonus==0) ? '' : (des.bonus > 0) ? '+ '+String(des.bonus) : '- '+String(Math.abs(des.bonus)) }} {{ (des.extra==0) ? '' : (des.extra > 0) ? '+ '+String(des.extra) : '- '+String(Math.abs(des.extra)) }} {{ (des.bonus + des.extra == 0) ? '' : '= '+String(des.resultat + des.bonus + des.extra) }}
                    </h2>
                  </div>
                </div>
              </div>
              <div v-if="des.choix.length==0" class="modal-footer">
                <button class="btn btn-secondary mx-auto" @click="lance_de(des)">Lancer</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </body>
</html>
