<!doctype html>
<html>
  <head>
    <title>Chroniques Oubliées</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="assets/co_192.png">
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="assets/bs.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="3ddice.js" async></script>
    <script src="ui.bc.js" defer></script>
  </head>
  <body data-bs-theme="dark" style="font-family: pirata_one; background-image:url('assets/parchemin_bg.png'); background-size:100%; --bs-bg-opacity:0.6; background-repeat:no-repeat">
    <style>
      @font-face {
        font-family: 'pirata_one';
        src: url('assets/pirata_one.ttf') format('truetype');
      }
    </style>
    <div id="app-loading" style="height:100vh"></div>
    <div id="app" style="display:none;">

      <nav class="navbar navbar-expand bg-dark text-center pb-0" style="position:fixed;bottom:0px;right:0;left:0;z-index:1000">
        <ul class="navbar-nav flex-fill">
          <li class="nav-item border" style="width: 10%">
            <a class="nav-link" role="button" @click="charge_modal_des('d20', 0, 1, undefined)">
              <i class="bi bi-dice-5-fill"></i>
            </a>
          </li>
          <li class="nav-item border" style="width: 45%">
            <a class="nav-link" role="button" @click="home()">Personnages</a>
          </li>
          <li class="nav-item border" style="width: 45%">
            <a class="nav-link" role="button" @click="edition()" v-if="page.personnage!==undefined">Édition</a>
          </li>
        </ul>
      </nav>

      <div class="container-fluid mt-3 mb-5 px-0">

        <!-- chargement -->
        <div v-if="page.chargement!==undefined" class="text-center" >
          <div class="spinner-border"></div>
        </div>

        <!-- personnages -->
        <div v-else-if="page.personnages!==undefined">
          <div v-if="page.personnages.length!==0">
            <table class="table text-center" style="--bs-table-bg:none">
              <thead>
                <tr>
                  <th scope="col">Personnage</th>
                  <th scope="col">Nom</th>
                  <th scope="col">Niveau</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="p in page.personnages">
                  <td><span @click="personnage(p)" role="button">{{ p.label }}</span></td>
                  <td>{{ p.perso.nom }}</td>
                  <td>{{ p.perso.niveau }}</td>
                  <td>
                    <button class="btn w-50 py-0" @click="detruit_personnage(p.label)">
                      <i class="bi bi-trash3"></i>
                    </button>
                    <button class="btn w-50 py-0" @click="telecharge_personnage(p.label, p.perso)">
                      <i class="bi bi-download"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="text-center my-5">
            <div class="row mx-0">
              <div class="col px-0 py-2 text-bg-secondary border" @click="dir({importation:''})" role="button">
                importation
              </div>
              <div class="col px-0 py-2 text-bg-secondary border" @click="commence_creation()" role="button">
                création
              </div>
            </div>
          </div>
        </div>

        <div v-else-if="page.backup!==undefined">
          <table class="table text-center" style="--bs-table-bg:none">
            <thead>
              <tr>
                <th scope="col">Personnage</th>
                <th scope="col">Nom</th>
                <th scope="col">Niveau</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="p in page.backup">
                <td>{{ p[0] }}</td>
                <td>{{ p[1].nom }}</td>
                <td>{{ p[1].niveau }}</td>
                <td>
                  <button class="btn w-50 py-0" @click="detruit_personnage(p[0])">
                    <i class="bi bi-trash3"></i>
                  </button>
                  <button class="btn w-50 py-0" @click="telecharge_raw_personnage(p[0], p[1])">
                    <i class="bi bi-download"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- personnage -->
        <div v-else-if="page.personnage!==undefined" class="text-center">
          <div class="row mx-0 py-2">
            <div class="col px-0">
              <h1>{{ page.personnage.perso.nom }}</h1>
            </div>
            <div class="col px-0">
              <h1>
                <span class="px-3 border border-5 border-light">{{ page.personnage.perso.niveau }}</span>
              </h1>
            </div>
          </div>

          <div class="row mx-0">
            <div class="col p-0 border">
              {{ page.personnage.perso.famille }}
            </div>
            <div class="col p-0 border">
              {{ page.personnage.perso.profil }}
            </div>
          </div>
          <div v-if="page.personnage.perso.ideal && page.personnage.perso.travers" class="row mx-0">
            <div class="col p-0 border">
              {{ page.personnage.perso.ideal }}
            </div>
            <div class="col p-0 border">
              {{ page.personnage.perso.travers }}
            </div>
          </div>

          <!-- personnage caracteristiques -->
          <div class="row mx-0 mt-3">
            <div class="col p-0 text-bg-light">Caractéristiques</div>
          </div>
          <div class="row mx-0">
            <div class="col border p-0 d-flex justify-content-around">
              <span class="flex-fill">AGI</span>
              <span class="flex-fill text-bg-light" role="button" @click="charge_modal_des('d20', page.personnage.perso.caracteristiques.agilite, 1, 'Agilité')">{{ (page.personnage.perso.caracteristiques.agilite > 0) ? '+' : ''}}{{ page.personnage.perso.caracteristiques.agilite }}</span>
            </div>
            <div class="col border p-0 d-flex justify-content-around">
              <span class="flex-fill">CON</span>
              <span class="flex-fill text-bg-light" @click="charge_modal_des('d20', page.personnage.perso.caracteristiques.constitution, 1, 'Constitution')">{{ (page.personnage.perso.caracteristiques.constitution > 0) ? '+' : ''}}{{ page.personnage.perso.caracteristiques.constitution }}</span>
            </div>
            <div class="col border p-0 d-flex justify-content-around">
              <span class="flex-fill">FOR</span>
              <span class="flex-fill text-bg-light" @click="charge_modal_des('d20', page.personnage.perso.caracteristiques.force, 1, 'Force')">{{ (page.personnage.perso.caracteristiques.force > 0) ? '+' : ''}}{{ page.personnage.perso.caracteristiques.force }}</span>
            </div>
          </div>
          <div class="row mx-0">
            <div class="col border p-0 d-flex justify-content-around">
              <span class="flex-fill">PER</span>
              <span class="flex-fill text-bg-light" @click="charge_modal_des('d20', page.personnage.perso.caracteristiques.perception, 1, 'Perception')">{{ (page.personnage.perso.caracteristiques.perception > 0) ? '+' : ''}}{{ page.personnage.perso.caracteristiques.perception }}</span>
            </div>
            <div class="col border p-0 d-flex justify-content-around">
              <span class="flex-fill">CHA</span>
              <span class="flex-fill text-bg-light" @click="charge_modal_des('d20', page.personnage.perso.caracteristiques.charisme, 1, 'Charisme')">{{ (page.personnage.perso.caracteristiques.charisme > 0) ? '+' : ''}}{{ page.personnage.perso.caracteristiques.charisme }}</span>
            </div>
            <div class="col border p-0 d-flex justify-content-around">
              <span class="flex-fill">INT</span>
              <span class="flex-fill text-bg-light" @click="charge_modal_des('d20', page.personnage.perso.caracteristiques.intelligence, 1, 'Intelligence')">{{ (page.personnage.perso.caracteristiques.intelligent > 0) ? '+' : ''}}{{ page.personnage.perso.caracteristiques.intelligence }}</span>
            </div>
            <div class="col border p-0 d-flex justify-content-around">
              <span class="flex-fill">VOL</span>
              <span class="flex-fill text-bg-light" @click="charge_modal_des('d20', page.personnage.perso.caracteristiques.volonte, 1, 'Volonté')">{{ (page.personnage.perso.caracteristiques.volonte > 0) ? '+' : ''}}{{ page.personnage.perso.caracteristiques.volonte }}</span>
            </div>
          </div>

          <div class="row mx-0">
            <div class="col border p-0 d-flex justify-content-around">
              <span class="flex-fill">Initiative</span>
              <span class="flex-fill text-bg-light">{{ page.personnage.perso.initiative }}</span>
            </div>
            <div class="col border p-0 d-flex justify-content-around">
              <span class="flex-fill">Défense</span>
              <span class="flex-fill text-bg-light">{{ page.personnage.perso.defense }}</span>
            </div>
          </div>

          <div class="row mx-0 mt-3">
            <div class="col p-0 text-bg-light">Points et Dés</div>
          </div>

          <div class="row mx-0">
            <div class="col border p-0 d-flex w-50">
              <span class="w-75 flex-fill">Points de vigueur</span>
              <span class="w-25 flex-fill text-bg-light" role="button" @click="charge_modal_points('points_de_vigueur')">
                <span>{{ page.personnage.perso.points_de_vigueur.courant }}</span>
                /
                <span>{{ page.personnage.perso.points_de_vigueur.max }}</span>
              </span>
            </div>
            <div class="col border p-0 d-flex w-50">
              <span class="w-75 flex-fill">Points de chance</span>
              <span class="w-25 flex-fill text-bg-light" role="button" @click="charge_modal_points('points_de_chance')">
                <span>{{ page.personnage.perso.points_de_chance.courant }}</span>
                /
                <span>{{ page.personnage.perso.points_de_chance.max }}</span>
              </span>
            </div>
          </div>

          <div class="row mx-0">
            <div class="col border p-0 d-flex w-50">
              <span class="w-75 flex-fill">Dés de récupération</span>
              <span class="w-25 flex-fill text-bg-light" role="button" @click="charge_modal_points('des_de_recuperation')">
                <span>{{ page.personnage.perso.des_de_recuperation.courant }}</span>
                /
                <span>{{ page.personnage.perso.des_de_recuperation.max }}</span>
              </span>
            </div>
            <div class="col border p-0 d-flex w-50">
              <span class="w-75 flex-fill">Points de mana</span>
              <span class="w-25 flex-fill text-bg-light" role="button" @click="charge_modal_points('points_de_mana')">
                <span>{{ page.personnage.perso.points_de_mana.courant }}</span>
                /
                <span>{{ page.personnage.perso.points_de_mana.max }}</span>
              </span>
            </div>
          </div>

          <div class="row mx-0 mt-3">
            <div class="col p-0 text-bg-light">Attaques</div>
          </div>
          <div class="row mx-0">
            <div class="col border p-0 d-flex justify-content-around">
              <span class="flex-fill">Contact</span>
              <span class="flex-fill text-bg-light" role="button" @click="charge_modal_des('d20', page.personnage.perso.niveau + page.personnage.perso.caracteristiques.force, 1, 'Attaque au contact')">{{ (page.personnage.perso.niveau + page.personnage.perso.caracteristiques.force > 0) ? '+' : '' }}{{ page.personnage.perso.niveau + page.personnage.perso.caracteristiques.force }}</span>
            </div>
            <div class="col border p-0 d-flex justify-content-around">
              <span class="flex-fill">Distance</span>
              <span class="flex-fill text-bg-light" role="button" @click="charge_modal_des('d20', page.personnage.perso.niveau + page.personnage.perso.caracteristiques.agilite, 1, 'Attaque à distance')">{{ (page.personnage.perso.niveau + page.personnage.perso.caracteristiques.agilite > 0) ? '+' : '' }}{{ page.personnage.perso.niveau + page.personnage.perso.caracteristiques.agilite }}</span>
            </div>
            <div class="col border p-0 d-flex justify-content-around">
              <span class="flex-fill">Magique</span>
              <span class="flex-fill text-bg-light" role="button" @click="charge_modal_des('d20', page.personnage.perso.niveau + page.personnage.perso.caracteristiques.volonte, 1, 'Attaque magique')">{{ (page.personnage.perso.niveau + page.personnage.perso.caracteristiques.volonte > 0) ? '+' : '' }}{{ page.personnage.perso.niveau + page.personnage.perso.caracteristiques.volonte }}</span>
            </div>
          </div>

          <!-- personnage equipements -->
          <div class="row mx-0 mt-3">
            <div class="col p-0 text-bg-light collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#autres-equipements">Équipements</div>
          </div>
          <template v-for="e in equipements(page.personnage.perso.equipements, 'arme')">
            <div v-for="a in e[1].arme.arme" class="row mx-0">
              <span class="col border p-0 text-bg-light">{{ (a.nombre!==undefined && a.nombre!=1) ? String(a.nombre)+' ' : '' }}{{ pp_equipement(e[0]) }}</span>
              <template v-if="a.contact!==undefined">
                <span class="col border p-0" role="button" @click="charge_modal_des(e[1].arme.dommage[1], page.personnage.perso.caracteristiques.force, e[1].arme.dommage[0], 'Dommage')">
                  {{ e[1].arme.dommage[0]}}{{e[1].arme.dommage[1] }} {{ (page.personnage.perso.caracteristiques.force > 0) ? '+' : '' }}{{ page.personnage.perso.caracteristiques.force }}
                </span>
                <span class="col border p-0">
                  {{ e[1].arme.type }}
                </span>
              </template>
              <template v-else>
                <span class="col border p-0" role="button" @click="charge_modal_des(e[1].arme.dommage[1], 0, e[1].arme.dommage[0], 'Dommage')">{{ e[1].arme.dommage[0]}}{{e[1].arme.dommage[1] }}</span>
                <span class="col border p-0">{{ a.distance.portee }} m, {{e[1].arme.type }}</span>
              </template>
            </div>
          </template>
          <div id="autres-equipements" class="collapse">
            <div v-for="e in equipements(page.personnage.perso.equipements, 'armure')" class="row mx-0">
              <span class="col border p-0 text-bg-light">{{ pp_equipement(e[0]) }}</span>
              <span class="col border p-0">DEF+{{ e[1].armure.defense }}</span>
            </div>
            <div v-for="e in equipements(page.personnage.perso.equipements, 'autre')" class="row mx-0">
              <span class="col border p-0">{{ pp_equipement(e[0]) }}</span>
            </div>
          </div>

          <!-- personnage voies -->
          <div class="row mx-0 mt-3">
            <div class="col p-0 text-bg-light">Capacités</div>
          </div>
          <div class="accordion" id="voies-accordeon" style="--bs-body-bg:none">
            <div v-for="v in page.personnage.perso.voies" class="accordion-item">
              <button class="accordion-button d-flex collapsed" type="button" data-bs-toggle="collapse" :data-bs-target="'#'+v[0]">
                <span class="flex-fill">{{ pp_voie(v[0]) }}</span>
                <span class="me-3 badge text-bg-light">
                  <span class="m-2">Rang</span>
                  <span class="m-2">{{ v[1] }}</span>
                </span>
              </button>
              <div :id="v[0]" class="accordion-collapse collapse" data-bs-parent="#voies-accordeon">
                <div class="accordion-body p-0">

                  <div class="accordion" :id="'voie-accordeon-'+v[0]">
                    <div v-for="(c, i) in voie(v[0]).slice(0,v[1])" class="accordion-item">
                      <button class="accordion-button d-flex collapsed" type="button" data-bs-toggle="collapse" :data-bs-target="'#'+v[0]+'-'+String(i)">
                        <span class="flex-fill">{{ c.nom }}</span>
                        <span class="me-3">{{ i+1 }}</span>
                      </button>
                      <div :id="v[0]+'-'+String(i)" class="accordion-collapse collapse" :data-bs-parent="'#voie-accordeon-'+v[0]">
                        <div class="accordion-body p-0">
                          <div v-if="c.action.length!=0 || c.sort" class="text-bg-light row mx-0">
                            <div v-if="c.sort" class="col">sort</div>
                            <div v-if="c.action.length!=0" class="col">{{ c.action.join(' / ') }}</div>
                          </div>
                          <p class="p-2 mb-0">{{ c.description }}</p>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- creation -->
        <div v-else-if="page.creation!==undefined">
          <!-- creation profil -->
          <div v-if="page.creation.creation.profil!==undefined">
            <div class="accordion" id="familles-accordeon" style="--bs-body-bg:none">
              <div v-for="f in page.creation.creation.profil.profils" class="accordion-item">
                <button class="accordion-button d-flex collapsed" type="button" data-bs-toggle="collapse" :data-bs-target="'#'+f[0]">
                  {{ f[0] }}
                </button>
                <div :id="f[0]" class="accordion-collapse collapse" data-bs-parent="#familles-accordeon">
                  <div class="accordion-body p-0">
                    <ul class="list-group">
                      <li v-for="p in f[1]" class="list-group-item" :class="(page.creation.creation.profil.choix && page.creation.creation.profil.choix[1]==p) ? 'active' : ''">
                        <div @click="function() { page.creation.creation.profil.choix = [ f[0], p ] }" role="button">{{ p }}</div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- creation peuple -->
          <div v-else-if="page.creation.creation.peuple!==undefined">
            <ul class="list-group">
              <li v-for="p in page.creation.creation.peuple.peuples" class="list-group-item" :class="(page.creation.creation.peuple.choix && page.creation.creation.peuple.choix==p) ? 'active' : ''">
                <div @click="function() { page.creation.creation.peuple.choix = p }" role="button">{{ pp_peuple(p) }}</div>
              </li>
            </ul>
          </div>

          <!-- creation caracteristiques -->
          <div v-else-if="page.creation.creation.caracteristiques!==undefined" class="text-center">

            <div class="row mx-0 mt-3">
              <div class="col p-0 text-bg-light">Caractéristiques</div>
            </div>

            <div class="row mx-0">
              <div class="col border p-0 d-flex justify-content-around">
                <span class="flex-fill">AGI</span>
                <input class="form-control py-0" type="number" v-model="page.creation.creation.caracteristiques.choix.agilite" style="width:60px"/>
              </div>
              <div class="col border p-0 d-flex justify-content-around">
                <span class="flex-fill">CON</span>
                <input class="form-control py-0" type="number" v-model="page.creation.creation.caracteristiques.choix.constitution" style="width:60px"/>
              </div>
              <div class="col border p-0 d-flex justify-content-around">
                <span class="flex-fill">FOR</span>
                <input class="form-control py-0" type="number" v-model="page.creation.creation.caracteristiques.choix.force" style="width:60px"/>
              </div>
            </div>
            <div class="row mx-0">
              <div class="col border p-0 d-flex justify-content-around">
                <span class="flex-fill">PER</span>
                <input class="form-control py-0" type="number" v-model="page.creation.creation.caracteristiques.choix.perception" style="width:60px"/>
              </div>
              <div class="col border p-0 d-flex justify-content-around">
                <span class="flex-fill">CHA</span>
                <input class="form-control py-0" type="number" v-model="page.creation.creation.caracteristiques.choix.charisme" style="width:60px"/>
              </div>
              <div class="col border p-0 d-flex justify-content-around">
                <span class="flex-fill">INT</span>
                <input class="form-control py-0" type="number" v-model="page.creation.creation.caracteristiques.choix.intelligence" style="width:60px"/>
              </div>
              <div class="col border p-0 d-flex justify-content-around">
                <span class="flex-fill">VOL</span>
                <input class="form-control py-0" type="number" v-model="page.creation.creation.caracteristiques.choix.volonte" style="width:60px"/>
              </div>
            </div>

            <div class="row mx-0 mt-3">
              <div class="col p-0 text-bg-light">Bonus de peuple</div>
            </div>

            <ul class="list-group">
              <li v-for="(p, i) in page.creation.creation.caracteristiques.bonuses" class="list-group-item p-0" :class="(page.creation.creation.caracteristiques.choix_bonus && page.creation.creation.caracteristiques.choix_bonus[1]==i) ? 'active' : ''">
                <div @click="function() { page.creation.creation.caracteristiques.choix_bonus = [ p, i ] }" class="row mx-0" role="button">
                  <div v-for="b in p" class="col border p-0 d-flex justify-content">
                    <span class="flex-fill">{{ b[1].bonus.id }}</span>
                    <span class="flex-fill text-bg-light">{{ b[1].bonus.valeur }}</span>
                  </div>
                </div>
              </li>
            </ul>

          </div>

          <!-- creation equipements -->
          <div v-else-if="page.creation.creation.equipements!==undefined">

            <div class="row mx-0 mt-3">
              <div class="col text-bg-light">Equipements</div>
            </div>
            <ul class="list-group">
              <li v-for="e in equipements(page.creation.perso.equipements, undefined)" class="list-group-item text-center p-0">
                <div class="row mx-0">
                  <span class="col border p-0 text-bg-light">{{ (e[1].arme.arme[0].nombre!==undefined && e[1].arme.arme[0].nombre!=1) ? String(e[1].arme.arme[0].nombre)+' ' : '' }}{{ pp_equipement(e[0]) }}</span>
                  <template v-if="e[1].arme!==undefined && e[1].arme.arme[0].contact!==undefined">
                    <span class="col border p-0">
                      {{ e[1].arme.dommage[0]}}{{e[1].arme.dommage[1] }} {{ (page.creation.perso.caracteristiques.force > 0) ? '+' : '' }}{{ page.creation.perso.caracteristiques.force }}
                    </span>
                    <span class="col border p-0">
                      {{ e[1].arme.type }}
                    </span>
                  </template>
                  <template v-else-if="e[1].arme!==undefined">
                    <span class="col border p-0">{{ e[1].arme.dommage[0]}}{{e[1].arme.dommage[1] }}</span>
                    <span class="col border p-0">{{ a.distance.portee }} m, {{e[1].arme.type }}</span>
                  </template>
                  <template v-else-if="e[1].armure!==undefined">
                    <span class="col border p-0">
                      DEF+{{ e[1].armure.defense }}
                    </span>
                    <span class="col border p-0"></span>
                  </template>
                  <template v-else>
                    <span class="col border p-0"></span>
                    <span class="col border p-0"></span>
                  </template>
                </div>
              </li>
            </ul>

            <div class="row mx-0 mt-3">
              <div class="col text-bg-light">Equipements au choix</div>
            </div>
            <div v-for="(l, i) in page.creation.creation.equipements.possibilites" class="row mx-0 mt-3">
              <ul class="list-group">
                <li v-for="e in l" class="list-group-item p-0 text-center" :class="(page.creation.creation.equipements.choix[i][0]==e[0]) ? 'active' : ''">
                  <button class="btn w-100" @click="page.creation.creation.equipements.choix[i]=e">
                    {{ e[0] }}
                  </button>
                </li>
              </ul>
            </div>
          </div>


          <!-- creation voies -->
          <div v-else-if="page.creation.creation.voies!==undefined">
            <ul class="list-group">
              <li v-for="vt in page.creation.creation.voies.voies" class="list-group-item p-0 text-center">
                <button class="btn w-100" data-bs-toggle="collapse" :data-bs-target="'#'+vt" aria-expanded="false">
                  {{ pp_voie(vt) }}
                </button>
                <ul class="list-group collapse" :id="vt">
                  <li v-for="(c, i) in voie(vt)" class="list-group-item list-group-item-action p-0" :class="(capacite_choisie(vt, i+1)) ? 'active' : ''" @click="choisit_capacite(vt, i+1)" role="button">
                    <div class="w-100 d-flex">
                      <span class="border border-secondary border-2 px-3">{{ i + 1 }}</span>
                      <strong class="flex-fill text-bg-light">{{ c.nom }}</strong>
                    </div>
                    <div v-if="c.action.length!=0 || c.sort" class="row mx-0">
                      <div v-if="c.sort" class="col border border-secondary">sort</div>
                      <div v-if="c.action.length!=0" class="col border border-secondary">{{ c.action.join(' / ') }}</div>
                    </div>
                    <p class="mb-0 p-2">
                      {{ c.description }}
                    </p>
                  </li>
                </ul>
              </li>
            </ul>
          </div>

          <!-- creation nom -->
          <div class="text-center" v-else-if="page.creation.creation.enregistrement!==undefined">
            <div class="row mx-0">
              <div class="col p-0 text-bg-light">Idéal</div>
              <div class="col p-0">
                <select class="form-control py-0" v-model="page.creation.creation.enregistrement.ideal">
                  <option v-for="i in page.creation.creation.enregistrement.ideaux" :value="i">{{ i }}</option>
                </select>
              </div>
            </div>
            <div class="row mx-0">
              <div class="col p-0 text-bg-light">Travers</div>
              <div class="col p-0">
                <select class="form-control py-0" v-model="page.creation.creation.enregistrement.travers">
                  <option v-for="i in page.creation.creation.enregistrement.travers_options" :value="i">{{ i }}</option>
                </select>
              </div>
            </div>
            <div class="row mx-0">
              <div class="col p-0 text-bg-light">Nom du personnage</div>
              <div class="col p-0"><input class="form-control py-0" v-model="page.creation.creation.enregistrement.nom"/></div>
            </div>
            <div class="row mx-0">
              <div class="col p-0 text-bg-light">Nom de la sauvegarde</div>
              <div class="col p-0"><input class="form-control py-0" v-model="page.creation.creation.enregistrement.label"/></div>
            </div>
          </div>

          <div class="row mx-0 my-5 text-center" >
            <div class="col text-bg-secondary py-2" @click="phase_suivante()" role="button">
              <span v-if="page.creation.creation.enregistrement===undefined">Suivant</span>
              <span v-else>Fin</span>
            </div>
          </div>
        </div>

        <!-- importation -->
        <div v-else-if="page.importation!==undefined">
          <div class="row mx-0 text-center mt-5">
            <div class="col p-0 text-bg-light">Nom de l'importation</div>
            <div class="col p-0"><input class="form-control py-0" v-model="page.importation"/></div>
          </div>
          <div class="row mx-0 mt-3">
            <div class="col p-0">
              <input class="form-control" type="file" @change="importation"/>
            </div>
          </div>
        </div>

        <!-- edition -->
        <div v-else-if="page.edition!==undefined">
          <div class="accordion" id="edition-accordeon" style="--bs-body-bg:none">
            <!-- edition niveau -->
            <div class="accordion-item">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#edition-niveau">
                Niveau
              </button>
              <div id="edition-niveau" class="accordion-collapse collapse" data-bs-parent="#edition-accordeon">
                <div class="accordion-body">
                  <div class="d-flex justify-content-center">
                    <button class="btn btn-light" @click="page.edition.choix.niveau=page.edition.choix.niveau-1"><i class="bi bi-dash"></i></button>
                    <input type="number" class="form-control text-center" v-model="page.edition.choix.niveau" style="width:60px"/>
                    <button class="btn btn-light" @click="page.edition.choix.niveau=page.edition.choix.niveau+1"><i class="bi bi-plus"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!-- edition caraceristiques -->
            <div class="accordion-item">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#edition-caracteristiques">
                Caractéristiques
              </button>
              <div id="edition-caracteristiques" class="accordion-collapse collapse" data-bs-parent="#edition-accordeon">
                <div class="accordion-body text-center px-0 py-2">
                  <div class="row mx-0">
                    <div class="col border p-0 d-flex justify-content-around">
                      <span class="flex-fill">AGI</span>
                      <input class="form-control py-0" type="number" v-model="page.edition.choix.caracteristiques.agilite" style="width:60px"/>
                    </div>
                    <div class="col border p-0 d-flex justify-content-around">
                      <span class="flex-fill">CON</span>
                      <input class="form-control py-0" type="number" v-model="page.edition.choix.caracteristiques.constitution" style="width:60px"/>
                    </div>
                    <div class="col border p-0 d-flex justify-content-around">
                      <span class="flex-fill">FOR</span>
                      <input class="form-control py-0" type="number" v-model="page.edition.choix.caracteristiques.force" style="width:60px"/>
                    </div>
                  </div>
                  <div class="row mx-0">
                    <div class="col border p-0 d-flex justify-content-around">
                      <span class="flex-fill">PER</span>
                      <input class="form-control py-0" type="number" v-model="page.edition.choix.caracteristiques.perception" style="width:60px"/>
                    </div>
                    <div class="col border p-0 d-flex justify-content-around">
                      <span class="flex-fill">CHA</span>
                      <input class="form-control py-0" type="number" v-model="page.edition.choix.caracteristiques.charisme" style="width:60px"/>
                    </div>
                    <div class="col border p-0 d-flex justify-content-around">
                      <span class="flex-fill">INT</span>
                      <input class="form-control py-0" type="number" v-model="page.edition.choix.caracteristiques.intelligence" style="width:60px"/>
                    </div>
                    <div class="col border p-0 d-flex justify-content-around">
                      <span class="flex-fill">VOL</span>
                      <input class="form-control py-0" type="number" v-model="page.edition.choix.caracteristiques.volonte" style="width:60px"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- edition capacites -->
            <div class="accordion-item">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#edition-capacites">
                Capacités
              </button>
              <div id="edition-capacites" class="accordion-collapse collapse" data-bs-parent="#edition-accordeon">
                <div class="accordion-body p-0">
                  <ul class="list-group">
                    <li v-for="vt in page.edition.voies" class="list-group-item p-0 text-center">
                      <button class="btn w-100" data-bs-toggle="collapse" :data-bs-target="'#edition-'+vt" aria-expanded="false">
                        {{ pp_voie(vt) }}
                      </button>
                      <ul class="list-group collapse" :id="'edition-'+vt">
                        <li v-for="(c, i) in voie(vt)" class="list-group-item list-group-item-action p-0" :class="(capacite_choisie(vt, i+1)) ? 'active' : ''" @click="choisit_capacite(vt, i+1)">
                          <div class="w-100 d-flex">
                            <span class="border border-secondary border-2 px-3">{{ i + 1 }}</span>
                            <strong class="flex-fill text-bg-light">{{ c.nom }}</strong>
                          </div>
                          <div v-if="c.action.length!=0 || c.sort" class="row mx-0">
                            <div v-if="c.sort" class="col border border-secondary">sort</div>
                            <div v-if="c.action.length!=0" class="col border border-secondary">{{ c.action.join(' / ') }}</div>
                          </div>
                          <p class="mb-0 p-2">
                            {{ c.description }}
                          </p>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- edition equipements -->
            <div class="accordion-item">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#edition-equipements">
                Equipements
              </button>
              <div id="edition-equipements" class="accordion-collapse collapse" data-bs-parent="#edition-accordeon">
                <div class="accordion-body p-0">
                  <ul class="list-group">
                    <li v-for="e in page.edition.choix.equipements" class="list-group-item p-0 text-center">
                      <div class="w-100 d-flex">
                        <span class="flex-fill py-2">{{ pp_equipement(e) }}</span>
                        <button class="btn py-2" @click="retire_equipement(e)"><i class="bi bi-trash3"></i></button>
                      </div>
                    </li>
                    <li class="list-group-item p-0 text-center">
                      <div class="w-100 d-flex">
                        <select class="form-select" v-model="page.edition.choix.equipement">
                          <option></option>
                          <option v-for="e in page.edition.equipements" :value="e">{{ pp_equipement(e) }}</option>
                        </select>
                        <button class="btn btn-secondary py-2" @click="ajoute_equipement()">Ajouter</button>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- edition bonuses -->
            <div class="accordion-item">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#edition-bonuses">
                Bonuses
              </button>
              <div id="edition-bonuses" class="accordion-collapse collapse" data-bs-parent="#edition-accordeon">
                <div class="accordion-body p-0">
                  <div v-for="(b, i) in page.edition.choix.bonuses" class="row mx-0 text-center">
                    <template v-if="b[1].bonus!==undefined">
                      <div class="col p-0 border">{{ b[0] }}</div>
                      <div class="col p-0 border">{{ b[1].bonus.id }}</div>
                      <div class="col p-0 border">{{ b[1].bonus.valeur }}</div>
                      <div class="col p-0 border">
                        <button class="btn py-0 w-100 h-100" @click="page.edition.choix.bonuses.splice(i, 1)"><i class="bi bi-trash3"></i></button>
                      </div>
                    </template>
                  </div>
                  <div class="row mx-0">
                    <div class="col p-0 border">
                      <input class="form-control py-0" v-model="page.edition.choix.bonus[0]"/>
                    </div>
                    <div class="col p-0 border">
                      <select class="form-select py-0" v-model="page.edition.choix.bonus[1].bonus.id">
                        <option v-for="id in page.edition.ids" :value="id">{{ id }}</option>
                      </select>
                    </div>
                    <div class="col p-0 border">
                      <input class="form-control py-0" v-model="page.edition.choix.bonus[1].bonus.valeur"/>
                    </div>
                    <div class="col p-0 border">
                      <button class="btn py-0 w-100" @click="ajoute_bonus()"><i class="bi bi-plus"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mx-0 my-5 text-center" >
            <div class="col text-bg-secondary py-2" @click="edite()" role="button">
              Sauvegarder
            </div>
          </div>
        </div>

        <!-- erreur modal -->
        <div id="erreur-modal" class="modal">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-body text-center">
                {{ modal_erreur }}
              </div>
            </div>
          </div>
        </div>

        <!-- de modal -->
        <div id="des-modal" class="modal">
          <div class="modal-dialog modal-dialog-centered">
            <div v-if="des" class="modal-content">
              <div class="modal-header">
                <h2 class="modal-title mx-auto">
                  <div v-if="des.titre">
                    <span v-if="des.titre">
                      <span>{{ des.titre }}</span>
                      <span class="mx-4">|</span>
                    </span>
                    {{ des.nombre }}{{ des.de }}
                    <span v-if="des.bonus && des.bonus > 0"> + {{ des.bonus }}</span>
                    <span v-else-if="des.bonus"> - {{ Math.abs(des.bonus) }} </span>
                  </div>
                  <div v-else class="d-flex">
                    <input class="form-control py-0 w-50" v-model="des.nombre"/>
                    <select class="form-select py-0 w-50" v-model="des.de">
                      <option value="d4">d4</option>
                      <option value="d6">d6</option>
                      <option value="d8">d8</option>
                      <option value="d10">d10</option>
                      <option value="d12">d12</option>
                      <option value="d20">d20</option>
                    </select>
                  </div>
                </h2>
              </div>
              <div class="modal-body">
                <div class="text-center d-flex mx-auto w-75">
                  <span class="text-bg-light px-2 flex-fill">Bonus</span>
                  <input class="form-control py-0" v-model="des.extra" type="number" style="max-width:100px"/>
                </div>
                <div id="des-container" class="m-2" style="height:180px">
                </div>
                <div style="height:50px">
                  <h2 v-if="des.resultat" class="text-center">
                    {{ des.resultat }} {{ (des.bonus==0) ? '' : (des.bonus > 0) ? '+ '+String(des.bonus) : '- '+String(Math.abs(des.bonus)) }} {{ (des.extra==0) ? '' : (des.extra > 0) ? '+ '+String(des.extra) : '- '+String(Math.abs(des.extra)) }} {{ (des.bonus + des.extra == 0) ? '' : '= '+String(des.resultat + des.bonus + des.extra) }}
                  </h2>
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-secondary mx-auto" @click="lance_de(des)">Lancer</button>
              </div>
            </div>
          </div>
        </div>

        <!-- points modal -->
        <div id="points-modal" class="modal">
          <div class="modal-dialog modal-dialog-centered">
            <div v-if="points" class="modal-content">
              <div class="modal-header">
                <h2 class="modal-title mx-auto">{{ points.titre }}
                  <span class="badge text-bg-light ms-4">/ {{ points.points.max }}</span>
                </h2>
              </div>
              <div class="modal-body">
                <div class="d-flex justify-content-center">
                  <button class="btn btn-light" @click="points.points.courant=points.points.courant-1"><i class="bi bi-dash"></i></button>
                  <input type="number" class="form-control text-center" v-model="points.points.courant" style="width:60px"/>
                  <button class="btn btn-light" @click="points.points.courant=points.points.courant+1"><i class="bi bi-plus"></i></button>
                </div>
                <div id="des-recuperation" class="m-2">
                </div>
                <h4 v-if="points.genre=='des_de_recuperation'" class="text-center">
                  <span>Points de vigueur: </span>
                  <span v-if="points.resultat!==undefined">
                    {{ page.personnage.perso.points_de_vigueur.courant - points.resultat }} + {{ points.resultat }} =
                  </span>
                  <span> {{ page.personnage.perso.points_de_vigueur.courant }} / {{ page.personnage.perso.points_de_vigueur.max }}</span>
                </h4>
              </div>
              <div class="modal-footer">
                <button v-if="points.genre=='des_de_recuperation'" class="btn btn-secondary mx-auto" @click="lance_de_recuperation(points)">Lancer</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </body>
</html>
